body{
    background-color: black;
    font-family: 'Arial',sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.border{
    border-radius: 15px;
    padding: 15px;
    background-color: #e0e0e0;
}
.card{
    width: 330px;
    background-color: #fcd764;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.4);
    overflow: hidden;
    font-size: 14px;
    padding: 10px;
}

.card-head{
    display: flex;
    justify-content: space-between;
    padding: 8px 12px;
    font-weight: bold;
    font-size: 18px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.basic{
    display: inline-block;
    height: 15px;
    width: 40px;
    background-color: #e0e0e0;
    color: #333;
    font-style: italic;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 7px;
    border-radius: 5px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-top: -19px;
    margin-left: -27px;
    top: 2px;
}

.name{
    margin-left: -100px;
    font-size: 25px;
}

.hp{
    color: black;
    font-size: 12px;
    margin-top: 15px;
    margin-right: -90px;
}

.hpValue{
    font-size: 25px;
}

.img{
    width: 300px;
    margin-left: 15px;
}

.energy-icon{
    background: yellow;
    color: black;
    border-radius: 50%;
    padding: 3px;
    margin: 0 2px;
}

.energy-icon1{
    background: white;
    color: black;
    border-radius: 50%;
    padding: 2px;
    /* margin: 0 2px; */
}

.cardbody{
    padding: 10px;
    border-radius: 15px;
}

.attack{
    margin-bottom: 10px;
}

.Attackrow1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Attackrow2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.attackname1{
    margin-left: 9px;
    font-weight: bold;
    font-size: 16px;
}

.attackname2{
    margin-right: 34px;
    font-weight: bold;
    font-size: 16px;
}

.Attackpower1{
    font-size: 16px;
    font-weight: bold;
}

.Attackpower2{
    font-size: 16px;
    font-weight: bold;
}

.attackinfo{
    font-size: 12px;
    margin-top: 4px;
    color: #333;
}

.footer{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    padding: 0 10px 8px;
}

.retreat{
    margin-top: -1px;
}

.card-bottom{
    background-color: #fcd764;
    padding: 8px 12px;
    border-top: 2px solid #999;
    border-radius: 0 0 12px 12px;
    font-size: 11px;
    color: #333;
    font-family: sans-serif;
}

.cardinfo{
    display: flex;
    font-weight: bold;
}

.num{
    margin-top: 13px;
    margin-left: -60px;
}

.text{
    font-style: italic;
    margin-top: -27px;
    margin-left: 100px;
    font-weight: 500;
}

.copywright{
    font-size: 12px;
    margin-left: 55px;
    margin-top: 5px;
}